#box{
    width: 100px;
    height: 100px;
    color: white;
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}
.div{
    width: 100px;
    height: 100px;
    background-color: skyblue;
}
.light{
    background-color: white;
    color: black;
}


.dark{
    background-color: black;
    color: white;
}