*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    top: 5rem;
}

.choice{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    top: 7rem;
    gap: 4rem;
}
#user-score, #comp-score{
    font-size:2rem;
}
#msg{
    display: inline;
    font-size: 3rem;
    color: #fff;
    background-color: #081b31;
    position: relative;
    top:10rem;
    border-radius: 20px;
    padding: 16px;
}