/* #myButton{
    background-color: skyblue;
    border: none;
    color: rgb(70, 70, 90);
    width: 20vh;
    height: 10vh;
    position: relative;
    left: 450px;
    top: 450px  ;
    cursor: pointer;
} */

.contant{
    color: red;
}
.newcontant{
    background-color: green;
}


